:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 4.5rem;
  --primary-color: #404040;
  --bg-color: #EFF6FF;
  --high-light-color: #FAFAFA;
  --light-color: #F3F4F6;
  --text-color: #000000;
  --text-secondary-color: #262626;
  --whale-color: #4D6BFE;
  --whale-secondary-color: #535bf2;
  --purpur-color: #800080;
  --icon-color: #D6DEE8;

  --error-color: #dc3545;
  --error-background-color: #f8d7da;
  --selected-color: #e3f2fd;

  --inspection-color: #47D16C;
  --non-inspection-color: #F25081;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: flex;
  font-weight: 500;
  color: var(--whale-color);
  text-decoration: inherit;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
}

a:hover {
  color: var(--whale-secondary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  padding-top: 300px;
  height: calc(100vh - 300px);
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  
  cursor: pointer;
  transition: border-color 0.25s;
}
